body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #E5E7EB;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  font-size: 48px;
  font-weight: bolder;
}

.hero {
  display: flex;
  flex-direction: column;
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 0 15% 50px;
  
}

.hero button {
  color: #F9FAF8;
  background-color: #3882F6;
  border-radius: 10%;
  font-size: 16px;
  padding: 4px 16px;
  border: none;
  max-width: fit-content;
  
}

.header {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 50px;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 20px;
  
}

.logo {
  max-height: 50px;
  max-width: 200px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.hero-text {
  margin: 16px;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}


.hero-image {
  max-width: 300px;
  align-self: center;
  margin: auto;
  border-radius: 10px;
  border:#e5e7eb77;
  border-style: solid;
}

.information {
  display: flex;
  flex-direction: column;
  color: #1F2937;
  
}

h2 {
  font-size: 36px;
  font-weight: bolder;
  align-self: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  max-width:fit-content;
  margin: 0 2%;
}

.infocube {
  display: flex;
  justify-content: space-between;
  margin: 0 20% 2%;
  flex-wrap: wrap;
  
}

.information img {
  max-height: 200px;
  max-width: 200px;
  border: solid;
  border-color: #3882F6;
  border-radius: 10%;
  
}

.info p{
  max-width: 150px;
  text-align: center;
  margin-top: 4px;
  font-size: 16px;
}

.quote {
  background-color: #E5E7EB;
  color: #1F2937;
  font-size: 36px;
  font-style: italic;
  display: flex;
  padding: 5% 25%;
  
}

.quotesource {
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  text-align: right;
  margin: 0;
  margin-top: 8px;
}

.quotetext {
  margin: 0;
}

.cta {
  display: flex;
  background-color: #3882F6;
  margin: 4% 20%;
  padding: 2% 10%;
  justify-content: space-between;
  border-radius: 10px;
}

.ctatext {
  display: flex;
  flex-direction: column;
}

.cta h3 {
  margin: 0;
}

.cta p {
  margin: 0;
}

/* font-size, padding and border differ from .hero button */
.cta button {
  color: #F9FAF8;
  background-color: #3882F6;
  border-radius: 10%;
  font-size: 14px;
  padding: 2px 14px;
  border: solid;
  border-color: #F9FAF8;
  max-width: fit-content;
}

.footer {
  background-color: #1F2937;
  color:#F9FAF8;
  text-align: center;
  font-size: 16px;
  padding: 0.5% ;
}

.destination {
  margin-top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:#3882F6;
  border-style: solid;
  padding: 10px;
  text-align: center;
  
}

a:hover, button:hover  {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}